@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    padding: 30px;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    overflow-y: overlay;
    
  }
  .body::-webkit-scrollbar {
    display: none;
  }
  .body__info {
    padding: 20px;
  }

  .body__infoText {
    font-family: 'Bebas Neue', sans-serif;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
  }
  .body__infoText > h2 {
    font-size: 65px;
    padding: 15px;
    text-align: center;
    color: mediumspringgreen;
  }
  .body__infoText > p {
    font-size: 20px;
    text-align: center;
    text-decoration: underline aqua;
  }
 
  .img {
    display: flex;
    height: 30vw;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    border: solid 4px aqua;
  }
  /* .body__icons {
    display: flex;
    align-items: center;
  }
  .body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
  }
  .body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }
  .body__songs {
    margin: 20px -30px;
  } */

  .body-player {
    display: flex;
    padding: 3px;
    margin: 20;
    margin-top: 50px;
    width: 80%;
  }
