@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    margin: 15px;
    border: solid 20px mediumspringgreen;
}

.login > h1, a {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 80px;
    color: mediumspringgreen;
    text-decoration: none;
    text-shadow: 4px 4px 0 green;
    max-height: 100vh;
    max-width: 100%;
}

a:hover {
    font-size: 100px;
}

