@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    margin: 15px;
    border: solid 20px mediumspringgreen;
}

.login > h1, a {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 80px;
    color: mediumspringgreen;
    text-decoration: none;
    text-shadow:
    -2px -2px 0 aqua,  
     2px -2px 0 aqua,
     -2px 2px 0 aqua,
      2px 2px 0 aqua;
    max-height: 100vh;
    max-width: 100%;

}

a:hover {
    font-size: 100px;
}

